@import '../../assets/styles/01-base/_variables';
.modal-login {
    display: block!important;
}
.modal-dialog {
    margin-top: 200px;
}
.login-btn {
    background-color: $green;
    &:hover {
        background-color: #259610;
        border-color: #259610;
    }
    border-color: #259610;
}